venv
maniplecli/deployment_packages/test
maniplecli/deployment_packages/test.zip
maniple.egg-info
.vscode
__pycache__
maniplecli/cli/__pycache__/main.cpython-36.pyc
maniplecli/cli/__pycache__/command.cpython-36.pyc
maniplecli/cli/__pycache__/__init__.cpython-36.pyc
maniplecli/__init__.pyc
maniplecli/cli/__init__.pyc
maniplecli/cli/command.pyc
maniplecli/cli/main.pyc
maniplecli/commands/__init__.pyc
maniplecli/commands/config/__init__.pyc

